alabaster==0.7.12
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
docutils==0.16
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
-e git+https://github.com/IAmAbszol/Alfred.git@79745c86b406ed6e9da2b6c1e48ba7047023177b#egg=meleeai
numpy==1.19.0
packaging==20.4
Pillow==7.2.0
py-ubjson==0.16.1
Pygments==2.6.1
pykalman==0.9.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
termcolor==1.1.0
tk==0.1.0
urllib3==1.25.9
